.thread {
  width: 100%;
  display: grid;
}

.thread__info {
  position: inherit;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-self: center;
}

.thread__content {
  display: flex;
  flex-direction: row;
}

.thread__body {
  width: 100%;
}

.thread__content__text {
  margin-left: 20px;
}

.thread__content__text__title {
  font-weight: 900;
}

.thread__info__id {
  background: none;
  border: none;
  padding: 0;
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: 1000;
}

.thread__info__id:hover {
  color: #00d0d0;
}

.thread__info__founder {
  font-weight: 1000;
}

.thread__info__date {
}

.thread__content__img {
  display: flex;
  flex-direction: column;
}

.thread__info__answer {
  background: none;
  border: none;
  padding: 0;
  text-decoration-line: underline;
  cursor: pointer;
  margin-right: 10%;
  margin-left: 10%;
}
