.chat-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}

.chat {
  overflow-y: scroll;
}

.chat-message {
  border-radius: 5px;
  background-color: #f0e0d6;
  margin-top: 5px;
  height: 50px;
}
.chat-message__name {
  margin-right: 33%;
  font-weight: 700;
}
.chat-message__text {
  margin-right: 33%;
}
.chat-message__time {
  font-weight: 700;
}

.chat__send-form {
  max-width: 300px;
  margin: 10px;
}
