.header {
  grid-area: h;
  background: linear-gradient(90deg, #010081, #4253a9, #8193ee);
}

.logo .logoText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
  color: rgb(215, 216, 239);
  display: flex;
  align-items: center;
}

.loginBlock {
  float: right;
}
