.nav {
  grid-area: n;
  background-color: #818181;
  padding: 20px;
  border: 3px #c3c3c3 solid;
}

.navItem {
  color: rgb(79, 73, 73);
}

.navItem a.active {
  text-decoration: none;
  color: wheat;
}
