.app-header {
  display: flex;
  flex-direction: row;
}

.app-header__menu-overlay-button {
  margin-right: 50%;
  margin-top: auto;
  margin-left: 0px;
  margin-bottom: auto;
}

.app-header__login-button {
  margin-left: 30%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}
