.app-wrapper {
  display: flex;
  flex-direction: column;
}
.app-content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-wrapper-window {
  margin-top: 100px;

  margin-bottom: 40px;

  background-color: rgb(255, 255, 238);
  border-radius: 5px;

  justify-self: center;
  align-self: center;
  width: 1000px;
}

.content-wrapper {
  background-color: #f2f2f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
