.dialogs {
  display: flex;
  justify-content: center;
}

.dialogsItems {
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}

.dialogsItems .dialogsItem {
  padding: 10px;
}

.dialogMessages {
  padding: 10px;
  font-size: large;
}

.dialogMessages .dialogMessage {
  padding: 10px;
}

.messageContainer {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  background-color: rgb(227, 227, 227);
}
