.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .dialogsItem {
  padding: 10px;
}

.dialogMessages {
  padding: 10px;
}

.dialogMessages .dialogMessage {
  padding: 10px;
}
